OLN_BASE_VOLUME=/Volumes/hellastuff/oln
OLN_LOG_VOLUME=/Volumes/external-logs/oln

# If Motherbrain is currently using the alternate RAID mount instead, switch to:
# OLN_BASE_VOLUME=/Volumes/hellastuff 1/oln
